html {
  body {
    font-size: 16px;
    letter-spacing: 0.3px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;

  font-size: 16px;
  font-weight: 500;
  font-family: "montserrat";
  line-height: 20px;
  letter-spacing: 0.1px;

  max-width: 312px;

  padding: 9px 24px;
  background-color: $main-color;
  color: #ffff;

  border: 1px solid $main-color;
  border-radius: 4px;

  &:hover {
    background: darken($main-color, 5%);
  }
}

*:focus {
  outline: none;
}

.statusWrapper {
  width: 300px;
  min-height: 50px;
  display: flex;
}

.statusWrapper.withError {
  width: auto;
  min-height: initial;
  color: rgb(179, 41, 41);
  line-height: 20px;
  text-align: center;
  background-color: rgb(223, 187, 187);
  position: relative;
  padding: 15px;

  i {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 3;
    cursor: pointer;
    color: black;

    &:hover {
      color: rgb(179, 41, 41);
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px 20px;
  z-index: 1000;
  border-radius: 4px;

  .statusWrapper.withError {
    i {
      display: none;
    }
    p {
      font-size: 16px;
    }
    background-color: #fff;
  }

  i {
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(179, 41, 41);
    font-size: 15px;
    cursor: pointer;
    &:hover {
      color: rgba(179, 41, 41, 0.65);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
